<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ssafy.fitbox.mapper.UserAllergyMapper">

    <select id="selectAllergiesByUserId" parameterType="int" resultType="String">
        SELECT allergy_name
        FROM user_allergy_table
        WHERE user_id = #{userId}
    </select>

    <insert id="insertAllergy" parameterType="com.ssafy.fitbox.dto.UserAllergy">
        INSERT INTO user_allergy_table (user_id, allergy_name)
        VALUES (#{userId}, #{allergyName})
    </insert>

    <delete id="deleteAllergiesByUserId" parameterType="int">
        DELETE FROM user_allergy_table
        WHERE user_id = #{userId}
    </delete>

</mapper>